{% load crispy_forms_tags %}

<!DOCTYPE html>
<span> Hello, </span>
<span><a href="{% url 'logout' %}">Logout</a></span>
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="padding: 100px;">
    {% crispy form form.helper %}
</body>
</html>
