<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"          href="{% static 'assets/img/favicon.png'    %}">

  <title>
    Django Dashboard Black - {% block title %}{% endblock %} | AppSeed
  </title>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
  <div class="wrapper">

    {% include 'layout/sidebar.html' %}

    <div class="main-panel">

      {% include 'layout/navbar.html' %}

      <div class="content">

        {% block content %}{% endblock content %}

      </div>

      {% include 'layout/footer.html' %}

    </div>

  </div>

  {% include 'layout/fixed-plugins.html' %}

  {% include 'layout/scripts.html' %}

  {% include 'layout/scripts-sidebar.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>