{% extends "layout/base.html" %}
{% load static %}


{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
            <h2>Welcome To<br><span>Project Hira Moni<br></span></h2>
          <div>
         <h6>This project is under construction.</h6><br>
            <a href="https://github.com/Mak-Ta-Reque/Project-Hira-Moni-PHM" class="btn-get-started scrollto">View</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'contributors/assets/img/intro-img.png' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'contributors/assets/img/aboutus-img.png' %}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2>Project Hira Moni </h2>
              <h3>Approximate deployment (Version 0.1) date is July 30, 2020</h3>
              <p>This is an open-source software and it is under construction.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Very basic prototype project</li>
                <li><i class="ion-android-checkmark-circle"></i> We need volunteers from different backgrounds.</li>
                <li><i class="ion-android-checkmark-circle"></i> We are looking for volunteers who work on JS, Python, and Django Framework.</li>
                <li><i class="ion-android-checkmark-circle"></i> If you want to contribute or know more about this contact us.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Team</h3>
          <p>This is an open-source software and the volunteers working on the project are</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Md Abdul Kadir</h4>
                  <span>AI and Deep Learning</span><br>
                     <span>Architecture and Deployment</span>
                    </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Razu Ahmed</h4>
                  <span>Engineer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sunny Saha</h4>
                  <span>Computer Science</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Ariful Jannat Arif</h4>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Simon Hasan</h4>
                  <span>Bio Informatics</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mohi Us Sunnat</h4>
                  <span>Programmer (Android)</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/FEMALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Piash Zarin Irtiza</h4>
                    <span>Computer Science</span>
                </div>
              </div>
            </div>
            </div>
           <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Raihan Hussain Zinuk Ali</h4>
                    <span>Deep Learning</span>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sudip Sengupta</h4>
                    <span>Computer Science</span>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/MALE.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Shuvik Barua</h4>
                    <span>Computer Science</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'contributors/assets/img/FEMALE.png'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Parisa</h4>
                    <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->





  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'contributors/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'contributors/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'contributors/assets/js/main.js' %}"></script>
{% endblock content %}
