<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<h2>Welcome to Project Hira Moni.</h2>
<p style="font-size: 1.5em;">This <a href="https://github.com/Mak-Ta-Reque/Project-Hira-Moni-PHM">project</a> is under construction.</p>
<p style="font-size: 1.5em;">Approximate deployment (Version 0.1) date is July 30, 2020&nbsp;</p>
<p style="font-size: 1.5em;">If you want to contribute or know more about this contact Admins or Mentors of <a href="https://www.facebook.com/groups/390848038533199/permalink/391979415086728/">Bangladesh.AI</a></p>
<p style="font-size: 1.5em;">We need volunteers from different backgrounds.</p>
<p style="font-size: 1.5em;">&nbsp;</p>
<p style="font-size: 1.5em;">This is an open-source software and the volunteers working on the project are:</p>
<table class="editorDemoTable" style="width: 545px;">
<tbody>
<tr>
<td style="width: 212px;"><strong>Name</strong></td>
<td style="width: 137.953125px;"><strong>Field of work</strong></td>
<td style="width: 177.046875px;"><strong>Activity</strong></td>
</tr>
<tr>
<td style="width: 212px;">Md Abdul Kadir&nbsp;</td>
<td style="width: 137.953125px;">AI and Deep Learning &nbsp;</td>
<td style="width: 177.046875px;">Architecture and Deployment</td>
</tr>
<tr>
<td style="width: 212px;">Razu Ahmed</td>
<td style="width: 137.953125px;">Engineer</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Sunny Saha</td>
<td style="width: 137.953125px;">Computer Science&nbsp;</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Ariful Jannat Arif</td>
<td style="width: 137.953125px;">--</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Simon Hasan</td>
<td style="width: 137.953125px;">Bio Informatics</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Mohi Us Sunnat</td>
<td style="width: 137.953125px;">Programmer (Android)</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Piash Zarin Irtiza</td>
<td style="width: 137.953125px;">Computer Science&nbsp;</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Raihan Hussain Zinuk Ali</td>
<td style="width: 137.953125px;">Deep Learning&nbsp;</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Sudipto Sengupta</td>
<td style="width: 137.953125px;">--</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Shuvik Barua</td>
<td style="width: 137.953125px;">--</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 212px;">Parisa</td>
<td style="width: 137.953125px;">--</td>
<td style="width: 177.046875px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>We are looking for volunteers who work on JS, Python, and Django Framework.</p>
<p>If you don't have a programming background, you can help us with data collection and usability testing. Feel free to contact us.&nbsp;</p>